@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

#chatContainer {
    width: 450px; 
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px;
    background-color: white;
}
#chatContainer p {
    margin: 0;
}
#chatContainer p, #chatContainer input {
    font-size: 17px;
    line-height: 1.75;
    color: #646464;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#chatHeader {
    background-color: #f9f9f9;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0; 
}
#chatHeader h2 {
    text-align: center; 
    margin: 0;
    font-size: 16px;
    line-height: 1.65;
}
#chatHeader h2, #chatWindow button {
    font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: 0.25em;
    font-weight: 800;
    text-transform: uppercase;
    color: #3c3b3b;
}
#chatWindow {
    height: 400px; 
    width: 100%;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    /*border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #fff;*/
}
#chatWindow div {
    margin: 7.5px 7.5px;
}
.viesti {
    padding: 8px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    border-radius: 20px;
    width: fit-content;
}
.kayttajanViesti {
    background-color: lightblue; 
    align-self: flex-end; 
}
.vaihtoehdot, .vastaus {
    width: fit-content;
    margin: 7.5px auto !important;
    /*display: flex;
    justify-content: space-around;
    margin: 10px 0;*/
}
#chatWindow button {
    font-size: 10.5px;
    height: 4.8125em;
    padding: 8px 16px;
    line-height: normal;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
    cursor: pointer;
}
.vaihtoehdot > button {
    border-radius: 20px;
    margin: 0 10px;
}
.vastaus > *, .keskustelu > * { 
    margin: auto 10px;
}
.vastaus .keskustelu {
    align-items: center;
    justify-items: center;
}
#chatInput {
    width: 60%; 
    padding: 10px; 
}