.title h2 {
    text-align: center ;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px !important;
}
.title button, .title p {
    margin-top: 10px;
}
.title p {
    font-weight: bold;
}
label {
    margin-bottom: 0 !important;
    text-align: center;
}
.isolabel {
    font-size: 24px;
}
#sisalto {
    height: 600px;
}
#otsikko {
    font-size: 24px;
    text-align: center;
    height: 80px;
}
#aika, #kirjoittaja {
    height: 64px;
    width: 100%;
}
.meta {
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding: 20px 40px !important;
}
form {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}