.bold {
    font-weight: bold;
}
#linkit a {
    padding: 3px;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word; 
    font-family: Arial, Helvetica, sans-serif;
}
#ai_hakukoneoptimointi {
    padding-top: 100px;
}
.entry-content img, .entry-content iframe, pre {
    max-width: 100%;
    max-height: 100%;
}
.entry-content iframe, .entry-content img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}
.wp-embed-responsive .wp-embed-has-aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.wp-embed-aspect-16-9 iframe {
    aspect-ratio: 16 / 9;
}